:root {
  --primary-color: #4c94ff; /* Celtic Blue */
  --secondary-color: #0E387C; /* Yale Blue */
  --accent1-color: #cfd7ff; /* Glaucous */
  --accent2-color: #003029; /* Brunswick Green */
  --heading-font: "Bebas Neue", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --rounded: 1rem;
  --shadow: 0 0 10px var(--secondary-color);
  --img-shadow: 0 0 10px var(--accent1-color);
  --animate: all ease-in-out .2s;
}

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  text-shadow: none;
  color: var(--accent2-color);
}

footer nav {
  grid-area: 1 / 2;
  justify-self: end;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p, section, article {
  margin: 16px;
  padding: 8px;
}

hr {
  margin: 20px 50px 0;
  border: 0;
  border-top: 1px solid var(--accent1-color);
}

figcaption {
  text-align: center;
  margin-top: 10px;
}

/* Responsive classes */

.animate {
  transition: var(--animate);
}

.animate-sm:hover {
  transform: scale(1.01);
  transition: var(--animate);
}

.animate-lg:hover {
  transform: scale(1.05);
}

.animate-xl:hover {
  transform: scale(1.1);
}

.animate-xxl:hover {
  transform: scale(1.2);
}

/* Image classes */

.img-shadow {
  box-shadow: var(--img-shadow);
}

.img-circle {
  border-radius: 50%;
}

/* Nav */

nav a {
  margin: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  outline: 2px solid var(--accent2-color);
  border-radius: 5px;
  transition: var(--animate);
}

header nav a:hover {
  text-decoration: underline;
  font-size: larger;
  box-shadow: var(--shadow);
  background-color: rgba(240, 240, 240, 0.8);
  transition: var(--animate);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia a {
  text-decoration: none;
  outline: none;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 20px;
  right: 0.5px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: #fff;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article {
  position: absolute;
  bottom: 20px;
  right: 2px;
  background-color: var(--accent2-color);
}

.hero article img {
  float: right;
  width: 125px;
  height: 110px;
}

/* Home Page */

.site-purpose-container {
  position: relative;
  margin-top: -100px !important;
  
  grid-row: 2;
}

.site-purpose {
  padding: 20px;
}

.site-purpose h1 {
  color: var(--accent2-color);
}

.hero-overlay {
  position: absolute;
  align-self: center;
  right: 0;
  top: 100px;
}

/* About Page */

.history {
  justify-content: center;
  text-align: center;
}

.history h2 {
  grid-column: 2;
}

.history p {
  grid-row: 2;
}

.history img {
  margin: 2px;
  height: 200px;
  grid-area: 2 / 2;
}

.adventure {
  grid-template-rows: repeat(3, 20%);
}

.adventure h2 {
  text-align: center;
  padding: 15px;
  grid-area: 1 / 3;
}

.adventure figure {
  grid-row: 2;
}

.adventure img {
  justify-self: center;
  height: 100px;
  width: 140px;
}


/* Contact Page */


.employees {
  height: 250px;
  padding: 10px;
  margin: 10px 40px 0;
}

.employees img {
  height: 150px;
  width: 150px;
  margin: 0 40px;
}

.company-information-container {
  margin: 10px 40px;
  padding: 10px;
}

.company-information-container iframe {
  grid-column: 1;
  width: 300px;
  height: 300px;
}

.company-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 10px 10px;
  padding-right: 20px;
  align-items: center;
}

.company-information h2 {
  color: var(--accent2-color);
  grid-column: 1;
  text-align: right;
}

.company-information p {
  grid-column: 2;
  text-align: left;
  font-size: small;
}

.wireframe-link {
  display: inline;
}

/* Trip Page */

.trip-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: stretch;
}

.trip-images figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  border-radius: var(--rounded);
}

.trip-images figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: blur(5px);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.trip-images figure h1 {
  position: absolute;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  padding: 10px;
  font-size: 5rem;
  
  color: white;
  text-shadow: 0 2px 4px rgb(0,0,0, 0.5);
  background-color: rgb(0,0,0, 0.7);
  border-radius: var(--rounded);
  
  transform: translate(-50%, -50%);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.trip-images figure figcaption {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  
  color: white;
  background: rgba(0,0,0, 1);

  transition: opacity 0.5s ease;
  z-index: 2;
}

.trip-images figure:hover img {
  filter: blur(0);
  transform: scale(1.05);
}

.trip-images figure:hover h1 {
  position: absolute;
  padding: 10px;
  top: 10%;
  left: 15%;
  text-align: left;
  font-size: 2rem;

  border-radius: var(--rounded);
  background-color: rgb(0,0,0, 0.8);
  transition: all ease-in-out 0.5s;
}

.trip-images figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

.trip-images hr {
  padding: 10px;
  grid-column: span 2;
}

.trip-information-container {
  padding: 10px;
  grid-column: span 2;
  place-items: center;
}

.trip-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--accent2-color);
}

.trip-information h1 {
  grid-column: span 2;
}

.trip-information h1,
.trip-information h2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--accent2-color);
}

.trip-information hr {
  width: 90%;
  grid-column: span 2;
  border-top: 1px solid var(--accent2-color);
}

.contact-for-trip {
  justify-content: center;
  place-items: center;
}

.contact-for-trip h1 {
  color: var(--accent2-color);
}

.contact-for-trip img {
  width: 90%;
}
 
/* Form classes */

.form-container {
  display: flex;
  justify-content: center;
  color: var(--accent2-color);
}

form {
  width: auto;
  padding: 20px;
  margin: 10px;
  background-color: var(--accent1-color);
  border-radius: var(--rounded);
}

fieldset {
  border-radius: 10px;
}

.contact-information {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.contact-information label {
  padding: 10px;
  font-size: large;
  text-align: right;
}

.contact-information input, .feedback textarea {
  border-radius: 10px;
}

.feedback textarea {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
}

.submit-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.submit-container label {
  font-size: small;
  grid-row: 1;
}

.submit-container input {
  grid-row: 1;
}

.submit-container button {
  grid-column: span 2;
  grid-row: 2;
}

/* Misc Classes */

.button {
  margin: 5px;
  padding: 10px;
  color: white;
  
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--accent2-color);
  transition: var(--animate);
}

.button:hover {
  background-color: var(--accent2-color);
  border-color: var(--primary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  transform: scale(1.2);
  transition: var(--animate);  
}

.card {
  margin: 10px auto;
  padding: 10px;
  background-color: var(--accent2-color);
}
.card-light {
  margin: 5px;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.text-center {
  text-align: center;
}

.gradient {
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, var(--accent2-color) 100%);
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.grid-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-rows-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.grid-rows-3 {
  display: grid;
  grid-template-rows: 1fr auto;
}

.h-120 {
  height: 120px;
}
.h-150 {
  height: 150px;
}
.h-250 {
  height: 250px;
}

.rounded {
  border-radius: var(--rounded);
}

.shadow {
  box-shadow: var(--shadow);
}

.w-full {
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
}

.zebra {
  width: 100%;
  height: 100%;
  background-color: #bec9ff;
}